/* Colors Using Material Design
*/

$md-bluegrey:  #607D8B;
$md-bluegrey1: #ECEFF1;
$md-bluegrey2: #CFD8DC;
$md-bluegrey3: #B0BEC5;
$md-bluegrey4: #90A4AE;
$md-bluegrey5: #78909C;
$md-bluegrey6: #546E7A;
$md-bluegrey7: #455A64;
$md-bluegrey8: #546E7A;
$md-bluegrey9: #263238;

$md-blue:  #2196F3;
$md-blue1: #E3F2FD;
$md-blue2: #BBDEFB;
$md-blue3: #90CAF9;
$md-blue4: #64B5F6;
$md-blue5: #42A5F5;
$md-blue6: #1E88E5;
$md-blue7: #1976D2;
$md-blue8: #1565C0;
$md-blue9: #01579B;




